# Supabase Configuration
SUPABASE_URL=https://qaepuswhpptcasriieps.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhZXB1c3docHB0Y2FzcmlpZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NTA5NTcsImV4cCI6MjA4OTEyNjk1N30.9CuuxupRvvdV7MOY5lCfy9UtdVJtZwxFqbxsGNPM54g
SUPABASE_SERVICE_ROLE_KEY=sb_secret_yQG8Z3LKgrFEluvVOJVoQA_MXqcw5hk
SUPABASE_SCHEMA=jcalbert

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
BOOKING_TO_EMAILS=wegopalawan@gmail.com
BOOKING_BCC_EMAILS=eduardobonto@gmail.com,ccmoviesandseries@gmail.com
